
project_id = "psaacanfxpqfhrgmvjjn"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[auth]
enabled = true
port = 54324
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://lovable.dev"]
jwt_expiry = 3600
enable_signup = true
enable_anonymous_sign_ins = false

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false

[db]
enabled = true
port = 54322
major_version = 15

[storage]
enabled = true
port = 54323
file_size_limit = "50MiB"
s3_max_age = 3600

[functions.generate-video]
verify_jwt = true

[functions.compose-video]
verify_jwt = true

[edge-runtime]
enabled = true
port = 54325

[analytics]
enabled = false
