
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-blue: #2563eb;
  --custom-purple: #7c3aed;
  --custom-green: #059669;
}

.text-custom-blue {
  color: var(--custom-blue);
}

.text-custom-purple {
  color: var(--custom-purple);
}

.text-custom-green {
  color: var(--custom-green);
}

.bg-custom-blue {
  background-color: var(--custom-blue);
}

.bg-custom-purple {
  background-color: var(--custom-purple);
}

.bg-custom-green {
  background-color: var(--custom-green);
}
